div,h1,section,ul,li{ padding:0;margin:0;left:0; }
html{font-size: 62.5%;}
ul,li{ list-style: none;list-style-type:none;}
#ui-shadow{display: none;position: absolute;width: 100%;height: 100%;top:0;left:0;background: #000; filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;}
#ui-Page{position:absolute;overflow: hidden;font-size: 2.2rem; border-radius: 3px; bottom:0;MARGIN-RIGHT: auto;vertical-align:middle;
MARGIN-LEFT: auto;width:100%;height: 240px;background: #FFFFFF;z-index:9999999;}
#ui-title{width: 100%;height:50px;background: #79C12F;text-align: center;color: #fff;line-height: 50px;font-size: 2rem;font-family:'microsoft yahei';}
#ui-mark{font-size:2rem;left:5%;width: 90%;height: 26px;position:absolute;top:108px;background:#eee;border:1px solid #eee;}
#ui-scroll{position: absolute;overflow: hidden;background: #F8F8F8;width:94%; margin:10px 3%;border: 1px solid #E0E0E0;
border-radius: 4px;height:120px;text-align: center;line-height: 40px;top:50px;left:0;}
/*采用内联块级样式排列三个div标签*/
/*#ui-scroll>div{display:inline-block;height:100%; width:32%;margin-left:1%;text-align: center;vertical-align:top;}
#ui-scroll li{color: #898989;font-size: 1.6rem;}*/
/*采用绝对定位排列三个div标签*/
#ui-scroll>div{position:absolute;height:100%; width:32%;}
#grandwrapper{ left:1%;}
#parentwrapper{left:34%;}
#childwrapper{ left:67%;}
#ui-scroll  li{color: #898989;font-size: 1.6rem;}
/*采用浮动排列三个div标签*/
/*#ui-scroll>div{float:left;height:100%; width:32%;}
#ui-scroll  li{color: #898989;font-size: 1.6rem;}*/
#setcancle label{display:inline-block;text-align: center;
                border:1px solid  #dcdddd; border-radius:3px;margin:1px;
                font-size: 2.5rem;font-family:'microsoft yahei';}
#ui-confirm{position:absolute;width:30%;left:40px;background:#79C12F;color:#fff;}
#ui-cancle{position:absolute;width:30%;right:40px;background:#dcdddd;color:#666;}
#ui-Footer{width:100%;background: #fff;height: 50px;bottom:0;position: absolute;}


