.proBar{
width:180px;
position:relative;
border:1px solid #cfd0d2;
border-radius:8px; 
margin-left:14px;
margin-top:2px; 
background:#cfd0d2;
display:inline-block;
*zoom:1;
}
.proCon
{
height:14px;
position:relative;
left:-1px;
margin-right:-2px;
font:1px/0 arial;
padding:1px;
}
.proText
{
width:100%;
position:absolute;
left:3px;
top:2px;
text-align:center;
font:10px/12px arial;
}
.proValue
{
height:100%;
width:50%;
background:#19d73d;
border:1px solid #19d73d;
border-style:none solid;
border-radius:7px; 
}